<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Debug" value="True"/>
    <add key="BatchSize" value="500"/>
    <add key="LuceneIndexDirectory" value="C:\Lucene"/>
  </appSettings>
  <connectionStrings>
    <add name="PingApp" connectionString="Server=10.211.55.2;User Id=root;Password=861005;Database=PingApp;Charset=utf8mb4;"/>
  </connectionStrings>
</configuration>
