@model String
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section MoreResource{
<style>
    h2 {
        margin: 20px 0;
    }
    p {
        line-height: 36px;
    }
    a:hover {
        color: #f80;
    }
    #email {
        font-weight: bold;
    }
    #action a {
        display: inline-block;
        margin-right: 20px;
    }
</style>
}
<h2>请查收邮件</h2>
<p>我们已经将你新密码通过邮件发送到了<em id="email">@Model</em>，请<a href="http://@Model.Split('@')[1]" target="_blank" title="@Model.Split('@')[1]">前往邮箱</a>查收。</p>
<p>请在使用新的密码登录后，按照系统的提示及时修改密码，以免造成安全问题。</p>
<p id="action"><a href="@Url.Action("Index", "Home")">返回首页</a><a href="@Url.Action("SignIn", "User")">登录系统</a></p>