@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section MoreResource {
<link rel="stylesheet" href="@Url.Content("~/content/plain.css")" />
}
<article>
    <section>
        <h2>PingApp对你来说意味着什么？</h2>
        <p>
            <img src="@Url.Content("~/content/images/app-store.png")" alt="App Store" width="72" height="89" style="float: left; margin-right: 10px;" />
            苹果AppStore里，包罗万象的APP早已突破50万大关，众多功能性应用和游戏不断考验着您的钱包，可是$4.99、$3.99、$2.99、$1.99……这样的价格您是不是已经受够了？多希望您渴望已久的收费应用标出$0.99或者免费的价格？入驻PingApp，随时查看您关注的应用，我们将把<em>更新</em>、<em>降价</em>、<em>免费</em>的消息第一时间<em>发送到您的邮箱中</em>，成为您真正的应用购买指南！
        </p>
    </section>
    <section>
        <h2>PingApp提供什么样的服务？</h2>
        <ul>
            <li>App Store全部ios应用搜索。</li>
            <li>应用更新信息跟踪。</li>
            <li>应用关注及您所关注应用的<em>更新</em>、<em>降价</em>、<em>免费</em>消息<em>邮件通知</em>。</li>
        </ul>
    </section>
    <section>
        <h2>什么样的人最爱PingApp？</h2>
        <p>iOS应用忠诚客户群，支持正版原创，支持低价环保，拒绝罗嗦的反复查询，就是你！</p>
    </section>
    <section>
        <h2>如何支持我们？</h2>
        <ol>
            <li>登陆<a href="http://www.pingapp.net">http://www.pingapp.net</a>。</li>
            <li>只需输入常用邮箱、用户名、密码，简单完成注册。</li>
            <li>将您喜欢的App加入关注，即可随时随时随地享受更新、降价、免费的邮件提醒服务。</li>
            <li>如果您喜欢这里，请与您的亲人和朋友分享，牢记域名<a href="http://www.pingapp.net">http://www.pingapp.net</a>。</li>
            <li>您的宝贵意见是我们进步的原动力与根本，请随时<a href="mailto:otakustay@gmail.com">提点我们</a>为您提供更多人性化服务。</li>
        </ol>
    </section>
    <section>
        <h2>版权</h2>
        <p>PingApp仅收录应用的资料以及更新信息，<em>不保存任何应用的安装文件、破解文件</em>，<em>不提供应用的破解方案</em>，如喜欢应用，请前往App Store购买。</p>
    </section><section>
        <h2>联系我们</h2>
        <p>电子邮件：<a href="mailto:otakustay@gmail.com">otakustay@gmail.com</a></p>
    </section>
</article> 