h2 {
    padding: 20px 0;
}
#about p, #about li {
    line-height: 24px;
}
#about img {
    float: left;
    margin-right: 10px;
}
#about em {
    color: #f50;
}
#about ul {
    list-style-type: square;
    margin-left: 25px;
}
#about ol {
    list-style-type: decimal;
    margin-left: 25px;
}
#about a:hover {
    text-decoration: underline;
    color: #f30;
}