.app-brief {
    overflow: hidden;
    padding: 20px 0;
    border-top: 1px solid #d0d0d0;
}
.app-brief:first-child {
    border: 0;
}
.app-name a {
    display: inline-block;
    max-width: 350px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.app-name a:hover {
    text-decoration: underline;
}
.app-update-entry {
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    margin-left: 20px;
    padding: 4px 8px;
    border-radius: 7px;
    color: #fff;
}
.app-icon {
    width: 75px;
    float: left;
    margin-right: 8px;
    text-align: center;
    position: relative;
    overflow: hidden;
}
.app-icon img {
    width: 75px;
    height: 75px;
    display: block;
    border-radius: 14px;
}
.app-icon span {
    font-size: 10px;
    color: #175;
}
.app-icon em {
    position: absolute;
    top: 0;
    left: 25px;
    z-index: 1;
    width: 50px;
    height: 50px;
    background: transparent url(images/hot-decorator.png) no-repeat;
    text-indent: -5000px;
}
.app-icon:hover em {
    display: none;
}
.app-meta {
    margin: 8px 0;
    font-size: 12px;
}
.app-meta span {
    display: inline-block;
    margin-right: 15px;
}
.app-meta .trival {
    margin: 0;
}
.app-device {
    color: #b00;
}
.app-device .trival {
    display: none;
}
.app-introduction {
    line-height: 1.5;
}
.app-version {
    max-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.app-action {
    float: right;
    background-color: #efefef;
    border: 2px solid #d0d0d0;
    border-radius: 10px;
    padding: 6px 10px;
    text-align: center;
    margin-left: 8px;
    position: relative;
}
.app-buy span {
    display: block;
}
.app-old-price {
    text-decoration: line-through;
    height: 12px;
    overflow:visible;
    display: block;
    margin-top: 0px;
    color: #666;
    position: relative;
    left: -28px;
    -webkit-transform: rotate(-35deg);
    -moz-transform: rotate(-35deg);
    -o-transform: rotate(-35deg);
    -ms-transform: rotate(-35deg);
}
.app-price {
    font-size: 18px;
    color: #000;
    margin-bottom: 4px;
}
.app-link {
    font-size: 12px;
}
.app-buy:hover .app-link {
    color: #f00;
}
.app-owned, .app-wish {
    display: block;
    cursor: pointer;
    margin: 2px 0;
    padding-left: 14px;
    background: transparent url(images/spot.png) no-repeat 0 -17px;
}
.app-owned:hover, .app-wish:hover {
    background-position: 0 -36px;
}
.app-action-active {
    background-position: 0 3px !important;
}
.app-owned {
    margin-top: 8px;
}

#pager {
    overflow: hidden;
}
#pager a {
    float: right;
    margin-left: 10px;
}