<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="MySql" connectionString="Server=localhost;Database=PingApp;Username=root;Password=861005;Charset=utf8mb4;"/>
    <add name="Mongo" connectionString="mongodb://localhost:27017"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
